<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DGA WebDemo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-sm-8"><img src="../static/dga_log.png" class="img-thumbnail border-0" alt="..." height="25%" width="25%"></div>
          <div class="col-sm-4">
            <img src="../static/flask-icon.png" class="img-thumbnail border-0" alt="..." height="15%" width="15%">
            <span class="badge rounded-pill bg-primary">python version 3.11</span>
            <span class="badge rounded-pill bg-success">app version 1.0</span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <!-- Alert start -->
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">AMBITION</h4>
              <img src="../static/james-cameron-4.jpg" class="img-thumbnail" alt="...">
              <hr>
              <!-- quote start -->
              <figure>
                <blockquote class="blockquote">
                  <p>If you set your goals ridiculously high and it's a failure, you will fail above everyone else's success.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  James Cameron 
                </figcaption>
              </figure>                           
              <!-- quote stop -->
            </div>
            <!-- Alert Stop -->
          </div>
          <div class="col-sm">
            <!-- Alert start -->
            <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">WORKHARD</h4>
              <img src="../static/pele.jpg" class="img-thumbnail" alt="...">
              <hr>
              <!-- quote start -->
              <figure class="text-center">
                <blockquote class="blockquote">
                  <p>Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Pele 
                </figcaption>
              </figure>                           
              <!-- quote stop -->
            </div>
            <!-- Alert Stop -->
          </div>
          <div class="col-sm">
            <!-- Alert start -->
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">TEAMWORK</h4>
              <img src="../static/jordan.jpg" class="img-thumbnail" alt="...">
              <hr>
              <!-- quote start -->
              <figure class="text-end">
                <blockquote class="blockquote">
                  <p>Talent wins games, but teamwork and intelligence wins championships.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Michael Jordan 
                </figcaption>
              </figure>                           
              <!-- quote stop -->
            </div>
            <!-- Alert Stop -->
          </div>
        </div>
      </div>
      <div class="container">
        <!-- Content here -->
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>Demo Web Application for Learning Docker Container.</p>
            <p>
              DGA จะทำหน้าที่เป็น “Smart Connector” ที่พร้อมส่งเสริมสนับสนุนทุกหน่วยงานในการร่วมคิด ร่วมสร้างสรรค์ และเชื่อมต่อภาครัฐกับประชาชน ให้ประชาชนเข้าถึงบริการได้ง่าย ทั่วถึง สะดวก โปร่งใส ลดความเหลื่อมล้ำ ด้านภาคธุรกิจก็สามารถดำเนินธุรกิจได้อย่างรวดเร็ว
            </p>
          </blockquote>
          <figcaption class="blockquote-footer">
            DGA <cite title="Source Title">2023</cite>
          </figcaption>
        </figure>
      </div>
</body>
</html>
<!--  DGA จะทำหน้าที่เป็น “Smart Connector” ที่พร้อมส่งเสริมสนับสนุนทุกหน่วยงานในการร่วมคิด ร่วมสร้างสรรค์ และเชื่อมต่อภาครัฐกับประชาชน ให้ประชาชนเข้าถึงบริการได้ง่าย ทั่วถึง สะดวก โปร่งใส ลดความเหลื่อมล้ำ ด้านภาคธุรกิจก็สามารถดำเนินธุรกิจได้อย่างรวดเร็ว  -->
<!--  Cimonaque de cul de charrue d'enfant d'chienne d'esprit de gériboire de bâtard de saint-sacrament de Jésus de plâtre de maudite marde. Saintes fesses de batèche de colon de cochonnerie de verrat de ciboire de tabarnouche de purée de boswell de sainte-viarge. -->