table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#9ACD32;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #00008B;
}
table.hovertable tr {
	background-color:#90EE90;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #00008B;
}
